body {
    background-color: #f9f9f9;
}

.flex-container {
    display: -webkit-flex;
    -webkit-flex-flow: column;
    padding: 5%;
}

.insert {
    background-color: #efefef;
}

.view {
    background-color: white;
}

/* --- Insert comment --- */

input {
    width: 100%;
    padding: 6px 12px;
    line-height: 1.42857143;
    margin-bottom: 10px;
    border-radius: 0px;
}

.submit-button {
    float: right;
}

/*!* --- Comments form --- *!*/

.img-comment {
    border-radius: 4px;
}

.info-comment {
    -webkit-flex-flow: column;
    display: flex;
    -webkit-justify-content: center;
    margin: 1%;
}

.bold {
    font-weight: bold;
}

.form-container {
    margin-bottom: 3%;
    display: flex;
}

/*!* --- View comments --- *!*/

.inner-addon {
    position: relative;
}

.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}

.left-addon input  {
    padding-left:  30px;
}
